:root {
    --nothing-red: #ff0031;
    --uber-dark: #121212;
}

body {
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

.app-container {
    max-width: 480px;
}

.logo { letter-spacing: 4px; }

#map {
    height: 45vh;
    width: 100%;
    border-radius: 28px;
    filter: grayscale(1) invert(1) brightness(0.8); /* Efecto Mapa Uber Dark */
    border: 1px solid #222;
}

#placeInput {
    border-radius: 0 12px 12px 0;
    padding: 12px;
}

.input-group-text {
    border-radius: 12px 0 0 12px;
}

#suggestions {
    z-index: 2000;
    border-radius: 12px;
    overflow: hidden;
    background: #1a1a1a;
    border: 1px solid #333;
}

.list-group-item-dark {
    background: #1a1a1a;
    color: #eee;
    border: none;
    border-bottom: 1px solid #222;
    padding: 15px;
    font-size: 0.9rem;
}

.list-group-item-dark:hover { background: #222; }

.uppercase { text-transform: uppercase; letter-spacing: 1px; }

/* Personalización del marcador de usuario */
.leaflet-container { background: #000 !important; }
