body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Estilo Nothing */
    color: #fff;
}

h1 { color: #ff0000; font-size: 1.5rem; }

button {
    padding: 15px 30px;
    font-size: 1rem;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

#status {
    margin-top: 20px;
    font-family: monospace;
    color: #888;
}